%h1= t('bootcamp.onboarding.started')
%hr
%p #{t('dashboard.users.mailers.hello')} #{@user.full_name}!
%ul
  %li Read #{link_to 'wiki', 'https://github.com/howtohireme/wiki', target: :_blank}
  %li Fill Github/Slack profiles according to our guidelines
  %li Say hello at Slack
  %li Find suitable project for you in Github
%p
  = t('mailers.developer.onboarding_started.feedback')
  = link_to t('mailers.developer.onboarding_started.questions'), new_dashboard_survey_response_url, target: :_black
