= simple_form_for idea, url: url do |f|
  = f.input :name
  = f.input :description, input_html: { id: 'markdown-editor' }
  = f.input :private_project
  = f.input :skip_bootstrapping
  = f.submit t("dashboard.ideas.button.#{submit}"), class: 'btn btn-lg btn-info'
