%h1= t('bootcamp.onboarding.started')
%hr
%p #{t('dashboard.users.mailers.hello')} #{@user.full_name}!
%ul
  %li 
    = t('mailers.member.onboarding_started.read')
    #{link_to 'wiki', 'https://github.com/howtohireme/wiki', target: :_blank}

  %li= t('mailers.member.onboarding_started.fill_github_and_slack')
  %li= t('mailers.member.onboarding_started.say_hello')
  %li= t('mailers.member.onboarding_started.pick_project')
%p
  = t('mailers.member.onboarding_started.feedback')
  = link_to t('mailers.member.onboarding_started.questions'), new_dashboard_survey_response_url, target: :_black
