%h2
  = t('dashboard.developer_test_task.edit.header')
  = @developer_test_task.id
= simple_form_for @developer_test_task, url: dashboard_test_task_url do |f|
  = f.input :title
  = f.input :position, collection: 1..Developer::TestTaskAssignment::MAX_NUMBER_OF_ASSIGNMENTS
  = f.input :description, input_html: { rows: 10, 'data-provide': 'markdown' }
  = f.input :role_id, collection: @roles.map { |r| [r.name, r.id] }, include_blank: false
  = f.button :submit, class: 'btn btn-info'
