%h2= t('dashboard.member_test_task.index.header')
%br
- if policy(:test_task).new?
  .row
    .col-md-6
      = link_to t('dashboard.member_test_task.button.new'), new_dashboard_test_task_url,
                                                              class: 'btn btn-info btn-sm'
%br
.table-responsive
  %table.table.table-striped.tabke-sm
    %thead
      %tr
        %th #
        %th= t('dashboard.member_test_task.title')
        %th= t('dashboard.member_test_task.state')
        %th= t('dashboard.member_test_task.position')
        %th= t('dashboard.member_test_task.role')
        %th= t('dashboard.member_test_task.skill')
        %th= t('dashboard.member_test_task.description')
    %tbody
      - @member_test_tasks.each do |member_test_task|
        %tr
          %td= member_test_task.id
          %td
            = link_to member_test_task.title, edit_dashboard_test_task_url(member_test_task)
          %td= cell(Member::Dashboard::TestTaskStatusButton, member_test_task)
          %td= member_test_task.position
          %td= member_test_task.role_name
          %td= member_test_task.skill.title
          %td= markdown(member_test_task.description)
