%h3 Propose
- if @ideas.present?
  %table.table.table-striped.tabke-sm
    %thead
      %tr
        %th= t('idea.proposes.name')
        %th= t('idea.proposes.status')
        %th= t('idea.proposes.description')
      - @ideas.each do |idea|
        %tr
          %td= idea.name
          %td= idea.state
          %td= markdown(idea.description)
- else
  = link_to t('idea.new_propose'), new_idea_propose_url, class: 'btn btn-lg btn-secondary'
