%h3 Log in
= simple_form_for :idea_login, url: idea_sessions_url do |f|
  = f.input :email
  = f.input :password
  = f.button :submit, t('idea.sessions.submit'), type: :submit, class: 'btn btn-lg btn-secondary'
%br
%p New to POC? #{link_to t('idea.sessions.sign_up'), new_idea_registrations_url}
