%h3= t('idea.sessions.new.header')
= simple_form_for :idea_login, url: idea_sessions_url do |f|
  = f.input :email
  = f.input :password
  = f.button :submit, t('idea.sessions.submit'), type: :submit, class: 'btn btn-lg btn-secondary'
%br
%p #{t('idea.sessions.new.new_user')} #{link_to t('idea.sessions.new.sign_up'), new_idea_registrations_url}
