%h3= t('idea.proposals.new.header')
.text-left
  = simple_form_for  idea, url: idea_proposals_url do |f|
    = f.input :name
    = f.input :description, input_html: { rows: 10, 'data-provide': 'markdown' }
    = f.input :private
    = f.input :skip_bootstrapping
    .text-center
      = f.submit t('idea.proposals.propose'), class: 'btn btn-lg btn-secondary'
