%h2 #{t('dashboard.users.edit.header')}: #{@user.full_name}
= simple_form_for @user, url: dashboard_user_url do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :location
  = f.input :timezone, as: :time_zone
  = f.input :cv_url
  = f.input :github
  = f.input :primary_skill_id, collection: @skills, selected: @user.primary_skill.id
  = f.button :submit, class: 'btn btn-info'
