%h2= t('dashboard.users.title')
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th= t('dashboard.users.table.email')
        %th= t('dashboard.users.table.full_name')
        %th= t('dashboard.users.table.date_registration')
        %th= t('dashboard.users.table.roles')
        %th= t('dashboard.users.table.primary_skill')
        %th= t('dashboard.users.table.progress')
        %th= t('dashboard.users.table.applicants')
      - @users.each do |user|
        %tr
          %td= link_to user.email, dashboard_user_url(user)
          %td= user.full_name
          %td{:data => {:tooltip => 'Some message'}}= human_date(user)
          %td
            %ul.list-unstyled
              - user.roles.each do |role|
                %li
                  = role.name
          %td= user.primary_skill&.title
          %td.col-md-2
            = cell(Web::Dashboard::DisplayProgress, user)
          %td
            - if TestTaskAssignmentPolicy.new(current_user, user).review?
              = link_to t('dashboard.users.link.review_applicant'), dashboard_test_task_assignment_url(user),
                                                                    class: 'btn btn-info btn-sm'
= paginate @users
