%h2 Users Management
.table-responsive
  %table.table.table-striped.table-sm
    %thead
      %tr
        %th= t('dashboard.users.table.email')
        %th= t('dashboard.users.table.github_user')
        %th= t('dashboard.users.table.roles')
        %th= t('dashboard.users.table.status')
        %th= t('dashboard.users.table.progress')
        %th= t('dashboard.users.table.applicants')
      - @users.each do |user|
        %tr
          %td= link_to user.email, dashboard_user_path(user)
          %td= user.full_name
          %td
            %ul
              - user.roles.each do |role|
                %li
                  = role.name
          %td
            - if current_user.has_role?(:staff)
              - if user.active?
                = link_to user.state, deactivate_dashboard_user_path(user),
                                      method: :put,
                                      class: "btn btn-success btn-sm",
                                      data: { confirm: t('dashboard.users.link.confirm.disable') }
              - else
                = link_to user.state, activate_dashboard_user_path(user),
                                      method: :put,
                                      class: "btn btn-danger btn-sm",
                                      data: { confirm: t('dashboard.users.link.confirm.activate') }
            - else
              = user.state
          %td{ class: 'col-md-2' }
            = cell(Developer::Dashboard::DisplayProgress, user).()
          %td
            - if user.state == 'screening_completed'
              = link_to 'Review applicant', dashboard_test_task_assignment_url(user),
                                              class: 'btn btn-info'
= paginate @users
