%h2
  User id
  = @user.id
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %td
        %b= t('dashboard.users.table.email')
      %td= @user.email
    %tr
      %td
        %b
          Full name
      %td= @user.full_name
    %tr
      %td
        %b= t('dashboard.users.table.github_user')
      %td= @user.github
    %tr
      %td
        %b= t('dashboard.users.table.roles')
      %td
        %ul
          - @user.roles_name.each do |role|
            %li
              = role
              = link_to 'delete', remove_role_dashboard_user_path(@user, role: role),
                                  method: :put,
                                  data: { confirm: "Are you sure to delete role #{role}" }

          - %w[developer staff author].each do |role|
            - unless @user.roles_name.include?(role)
              %li
                = link_to "add role #{role}", add_role_dashboard_user_path(@user, role: role),
                                              method: :put,
                                              data: { confirm: "Are you sure to add role #{role}" }
    %tr
      %td
        %b
          Task assignments
      %td
        %ul
          - @test_task_assignments.each do |test_task_assignment|
            %li= test_task_assignment.test_task.title
- if @test_task_assignments.completed.presence || @user.developer_onboarding.try(:slack) || @user.developer_onboarding.try(:github)
  %h2 Onboarding progress
  .table-responsive
    %table.table.table-striped.table-sm
      %tr
        %th= t('dashboard.users.table.tasks')
        %th= t('dashboard.users.table.status')
      - @test_task_assignments.each do |test_task_assignment|
        %tr
          %td= test_task_assignment.test_task.title
          %td
            - if test_task_assignment.completed?
              .btn.btn-success.btn-sm
                = t('dashboard.developer_test_task.finished')
            - else
              .btn.btn-danger.btn-sm
                = t('dashboard.developer_test_task.not_finished')
      %tr
        %td= t('dashboard.users.table.invite_slack')
        %td
          - if @user.developer_onboarding.try(:slack)
            .btn.btn-success.btn-sm
              = t('dashboard.users.table.invited')
          - else
            .btn.btn-danger.btn-sm
              = t('dashboard.users.table.uninvited')
      %tr
        %td= t('dashboard.users.table.invite_github')
        %td
          - if @user.developer_onboarding.try(:github)
            .btn.btn-success.btn-sm
              = t('dashboard.users.table.invited')
          - else
            .btn.btn-danger.btn-sm
              = t('dashboard.users.table.uninvited')


