%h2
  User id
  = @user.id
  = link_to t('dashboard.users.button.edit'), edit_dashboard_user_url(@user),
                                              class: 'btn btn-info btn-sm' if policy(:user).edit?
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %td
        %b= t('dashboard.users.table.email')
      %td= @user.email
    %tr
      %td
        %b= t('dashboard.users.table.full_name')
      %td= @user.full_name
    %tr
      %td
        %b= t('dashboard.users.table.github_user')
      %td= @user.github
    %tr
      %td
        %b= t('dashboard.users.table.primary_skill')
      %td= @user.primary_skill&.title
    %tr
      %td
        %b= t('dashboard.users.table.roles')
      %td
        = cell(Developer::Dashboard::UserRoles, @user)
    %tr
      %td
        %b= t('dashboard.users.table.task_assignments')
      %td
        %ul.list-unstyled
          - @test_task_assignments.each do |test_task_assignment|
            %li= test_task_assignment.test_task.title
    - if @user.approver.present?
      %tr
        %td
          %b= t('dashboard.users.table.approver')
        %td= link_to @user.approver.full_name, dashboard_user_url(@user.approver)
%h2 Onboarding progress
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %th= t('dashboard.users.table.tasks')
      %th= t('dashboard.users.table.status')
    - @test_task_assignments.each do |test_task_assignment|
      %tr
        %td= test_task_assignment.test_task.title
        %td
          - if test_task_assignment.completed?
            .btn.btn-success.btn-sm.disabled
              = t('dashboard.developer_test_task.finished')
          - else
            .btn.btn-danger.btn-sm.disabled
              = t('dashboard.developer_test_task.not_finished')
    = cell(Developer::Dashboard::OnboardingStepStatus, @user, resource: :slack)
    = cell(Developer::Dashboard::OnboardingStepStatus, @user, resource: :github)
