%h2
  User id
  = @user.id
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %td
        %b
          Email
      %td= @user.email
    %tr
      %td
        %b
          GitHub username
      %td= @user.name
    %tr
      %td
        %b
          Roles
      %td
        %ul
          - @user.roles_name.each do |role|
            %li
              = role
              = link_to 'delete', remove_role_dashboard_user_path(@user, role: role),
                                  method: :put,
                                  data: { confirm: "Are you sure to delete role #{role}" }

          - %w[developer stuff author].each do |role|
            - unless @user.roles_name.include?(role)
              %li
                = link_to "add role #{role}", add_role_dashboard_user_path(@user, role: role),
                                              method: :put,
                                              data: { confirm: "Are you sure to add role #{role}" }
    %tr
      %td
        %b
          Task assignments
      %td
        %ul
          - @user.test_task_assignments.each do |test_task_assignment|
            %li
              = test_task_assignment
