%h2
  = t('dashboard.users.headers.user')
  = "##{@user.id}"
  = link_to t('dashboard.users.button.edit'), edit_dashboard_user_url(@user),
                                              class: 'btn btn-info btn-sm' if policy(:user).edit?
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %td
        %b= t('dashboard.users.table.email')
      %td= @user.email
    %tr
      %td
        %b= t('dashboard.users.table.full_name')
      %td= @user.full_name
    %tr
      %td
        %b= t('dashboard.users.table.github_user')
      %td= github_link(@user)
    %tr
      %td
        %b= t('dashboard.users.table.primary_skill')
      %td= @user.primary_skill&.title
    %tr
      %td
        %b= t('dashboard.users.table.date_registration')
      %td= human_date(@user)
    %tr
      %td
        %b= t('dashboard.users.table.roles')
      %td
        %ul.list-unstyled
<<<<<<< HEAD
          = cell(Member::Dashboard::UserRoles, @user)
=======
          = cell(Web::Dashboard::UserRoles, @user)
>>>>>>> (#316) move cells to Web::Dashboard
    %tr
      %td
        %b= t('dashboard.users.table.task_assignments')
      %td
        %ul.list-unstyled
          - @test_task_assignments.each do |test_task_assignment|
            %li= test_task_assignment.test_task.title
    - if @user.approver.present?
      %tr
        %td
          %b= t('dashboard.users.table.approver')
        %td= link_to @user.approver.full_name, dashboard_user_url(@user.approver)
%h2= t('dashboard.users.headers.onboarding_progress')
.table-responsive
  %table.table.table-striped.table-sm
    %tr
      %th= t('dashboard.users.table.tasks')
      %th= t('dashboard.users.table.status')
    - @test_task_assignments.each do |test_task_assignment|
      %tr
        %td= test_task_assignment.test_task.title
        %td
          - if test_task_assignment.completed?
            .btn.btn-success.btn-sm.disabled
              = t('dashboard.member_test_task.completed')
          - else
            .btn.btn-danger.btn-sm.disabled
<<<<<<< HEAD
              = t('dashboard.member_test_task.not_completed')
    = cell(Member::Dashboard::OnboardingStepStatus, @user, resource: :slack_status)
    = cell(Member::Dashboard::OnboardingStepStatus, @user, resource: :github_status)
    = cell(Member::Dashboard::OnboardingStepStatus, @user, resource: :feedback_status)
=======
              = t('dashboard.developer_test_task.not_completed')
    = cell(Web::Dashboard::OnboardingStepStatus, @user, resource: :slack_status)
    = cell(Web::Dashboard::OnboardingStepStatus, @user, resource: :github_status)
    = cell(Web::Dashboard::OnboardingStepStatus, @user, resource: :feedback_status)
>>>>>>> (#316) move cells to Web::Dashboard
%section.py-5
  %h2
    = t('dashboard.users.headers.notes')
    - if policy(%i[dashboard note]).new?
      = link_to new_dashboard_user_note_url(@user) do
        %small
          %i.fa.fa-sticky-note-o
  = cell(Web::Dashboard::UserNotes, @user)
