= simple_form_for @registration, url: idea_registrations_url do |f|
  = f.input :email
  = f.input :first_name
  = f.input :last_name
  = f.input :location
  = f.input :timezone, as: :time_zone
  = f.input :password
  = f.button :submit, t('idea.registrations.submit'), type: :submit, class: 'btn btn-lg btn-secondary'
