.row.text-secondary
  .col-md-4
    %h3= t('landing.counters.members')
    %h4= members_size
  .col-md-4
    %h3= t('landing.counters.mentors')
    %h4= mentors_size
  .col-md-4
    %h3= t('landing.counters.projects')
    %h4= projects_size
