- if @assignment.present?
  %h1.cover-heading= t('bootcamp.screening.title')
  %p.lead
    = t('bootcamp.screening.body')
  %hr

  .cell
    = cell(Developer::Screening::DisplayAssignment, @assignment).()

- else
  %h1.cover-heading= t('bootcamp.screening.congrats')
  %p.lead
    = t('bootcamp.screening.wait_for_tasks_review')

  

