%h1.cover-heading= t('landing.title')
%p.lead
  = t('landing.body')
%p.lead
  = link_to t('landing.entrepreneur'), idea_root_url, id: 'offer-idea', class: 'btn btn-lg btn-secondary'
  = link_to t('landing.developer'), bootcamp_root_url, id: 'join-bootcamp', class: 'btn btn-lg btn-secondary'

= content_for :counter do
  = render partial: 'web/shared/counter', locals: { developers_size: @developers_size,
                                                    mentors_size: @mentors_size,
                                                    projects_size: @projects_size }

