= Web::Bootcamp::LandingBlock.('bootcamp.landing')
%p.lead
  = cell(Web::Bootcamp::JoinButton, wizard, current_wizard_step_url: current_wizard_step_url).()
  
= Web::Bootcamp::LandingBlock.('bootcamp.landing.who')
= Web::Bootcamp::LandingBlock.('bootcamp.landing.opensource')
= Web::Bootcamp::LandingBlock.('bootcamp.landing.nda')
= Web::Bootcamp::LandingBlock.('bootcamp.landing.audience')

= Web::Bootcamp::LandingBlock.('bootcamp.landing.technologies')
%p.lead
  %section.section-technologies{ style: 'border-bottom: 2px solid #303236;' }
    .container
      .row.mb20
        - %w(ruby rails javascript typescript css3 html5).each do |tech|
          .col-xs-4.col-sm-2.xs-box
            .item{ class: tech }


