!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title symbiod.org
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                          media: 'all',
                          'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '/css/cover.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/shared/analytics'

  %body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      %header.masthead.mb-auto
        .inner
          %h3.masthead-brand= t('landing.brand')
          %nav.nav.nav-masthead.justify-content-center
            = render partial: 'layouts/shared/navigation'

      %main.inner.cover{ role: 'main' }
        - if flash.alert
          .alert.alert-danger{ role: 'alert' }
            = raw flash.alert

        = yield

      = render partial: 'layouts/shared/footer'

