!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Poc
    = csrf_meta_tags
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    '/css/cover.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.text-center
    = render partial: 'layouts/shared/fork_me'
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      %header.masthead.mb-auto
        .inner
          %h3.masthead-brand= t('landing.brand')
          %nav.nav.nav-masthead.justify-content-center
            = nav_link t('landing.navigation.home'), root_url(subdomain: 'www'), subdomain: 'www'
            = nav_link t('landing.navigation.bootcamp'), bootcamp_root_url, subdomain: 'bootcamp'
            -#= link_to t('landing.navigation.idea'), idea_root_url, class: 'nav-link'
            -#= link_to t('landing.navigation.dashboard'), dashboard_root_url, class: 'nav-link'
            - unless current_user
              -#= link_to t('landing.navigation.sign_up'), new_bootcamp_registration_url, class: 'nav-link'
              -#= link_to t('landing.navigation.sign_in'), bootcamp_login_url, class: 'nav-link'
            - else
              = link_to t('landing.navigation.logout'), bootcamp_logout_url, method: :post, class: 'nav-link'

      %main.inner.cover{:role => "main"}
        - if flash.alert
          .alert.alert-danger{role: 'alert'}
            = raw flash.alert

        = yield

      %footer.mastfoot.mt-auto
        .inner
          %p
            = t('landing.footer.built_by')
            = succeed ", 2018" do
              = link_to 'HowToHireMe', 'https://howtohireme.ru', target: '_blank'
