!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    %title Poc
    = csrf_meta_tags
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                             media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css'
    = stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'
    = stylesheet_link_tag    '/css/dashboard.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
      = link_to 'givemepoc.org', root_landing_url, class: 'navbar-brand col-sm-3 col-md-2 mr-0'
      %input.form-control.form-control-dark.w-100{ "aria-label": "Search", placeholder: "Search", type: "text" }/
      %ul.navbar-nav.px-3
        %li.nav-item
          = link_to t('dashboard.navigation.profile'), dashboard_profile_url, class: 'nav-link'
      %ul.navbar-nav.px-3
        %li.nav-item
          = link_to t('dashboard.navigation.logout'), logout_url, method: :delete, class: 'nav-link'
    .container-fluid
      .row
        %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %ul.nav.flex-column
              %li.nav-item
                %a.nav-link{ href: dashboard_root_url }
                  %span{ "data-feather": "home" }
                  Dashboard
              - if policy(:test_task_assignment).index?
                %li.nav-item
                  = link_to dashboard_test_task_assignments_url, class: 'nav-link' do
                    %span{ "data-feather": "file" }
                    Applicants
              - if policy(:test_task).index?
                %li.nav-item
                  = link_to dashboard_test_tasks_url, class: 'nav-link' do
                    %span{ "data-feather": "file" }
                    Test Tasks
              - if policy(:user).index?
                %li.nav-item
                  = link_to dashboard_users_path, class: 'nav-link' do
                    %span{ "data-feather": "file" }
                    Users Management
              - if policy(%i[dashboard skill]).index?
                %li.nav-item
                  = link_to dashboard_skills_path, class: 'nav-link' do
                    %span{ "data-feather": "file" }
                    Skills Management
              %li.nav-item
                = link_to dashboard_ideas_path, class: 'nav-link' do
                  %span{ "data-feather": "file" }
                  Ideas
              %li.nav-item
                %a.nav-link{ href: "#" }
                  %span{ "data-feather": "shopping-cart" }
                  Projects
              %li.nav-item
                %a.nav-link{ href: "#" }
                  %span{ "data-feather": "users" }
                  Reports
              %li.nav-item
                %a.nav-link{ href: "#" }
                  %span{ "data-feather": "bar-chart-2" }
                  Analytics
              %li.nav-item
                %a.nav-link{ href: "#" }
                  %span{ "data-feather": "layers" }
                  Activity
            %h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              %span My projects
              %a.d-flex.align-items-center.text-muted{ href: "#" }
                %span{ "data-feather": "plus-circle" }
            %ul.nav.flex-column.mb-2
              %li.nav-item
                %a.nav-link{ href: "#" }
                  %span{ "data-feather": "file-text" }
                  Mentored
        %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{ role: "main" }
          = render partial: 'layouts/shared/dashboard_flashes'

          = yield

  /
    Bootstrap core JavaScript
    \==================================================
  / Placed at the end of the document so the pages load faster
  %script{ crossorigin: "anonymous",
           integrity: "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
           src: "https://code.jquery.com/jquery-3.2.1.slim.min.js" }
  :javascript
    window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" }
  / Icons
  %script{ src: "https://unpkg.com/feather-icons/dist/feather.min.js" }
  :javascript
    feather.replace()
  / SimpleMDE
  %script{ src: "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js" }
  :javascript
    var simplemde = new SimpleMDE();
  / Graphs
  %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" }
  :javascript
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
