!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Poc
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                          media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css'
    = stylesheet_link_tag '/css/dashboard.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/shared/analytics'

  %body
    %nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
      = link_to 'symbiod.org', root_landing_url, class: 'navbar-brand col-sm-3 col-md-2 mr-0'
      %input.form-control.form-control-dark.w-100{ 'aria-label': 'Search', placeholder: 'Search', type: 'text' }/
      %ul.navbar-nav.px-3
        %li.nav-item
          = link_to t('dashboard.navigation.profile'), dashboard_profile_url, class: 'nav-link'
      %ul.navbar-nav.px-3
        %li.nav-item
          = link_to t('dashboard.navigation.logout'), logout_url, method: :delete, class: 'nav-link'
    .container-fluid
      .row.d-flex
        .col-md-2.d-none.d-md-block.bg-light.sidebar.pt-5
          .sidebar-sticky
            %ul.nav.flex-column
              = nav_item_link t('dashboard.navigation.dashboard'),
                              dashboard_root_url,
                              icon: 'home'
              = nav_item_link "#{t('dashboard.navigation.applicants')} #{count_applicants}",
                              dashboard_test_task_assignments_url,
                              policy_name: :test_task_assignment,
                              icon: 'users'
              = nav_item_link t('dashboard.navigation.feedback_questions'),
                              dashboard_feedback_questions_url,
                              policy_name: %i[dashboard feedback_question]
              = nav_item_link t('dashboard.navigation.survey_responses'),
                              dashboard_survey_responses_url,
                              policy_name: %i[dashboard survey_response]
              = nav_item_link t('dashboard.navigation.test_tasks'),
                              dashboard_test_tasks_url,
                              policy_name: :test_task
              = nav_item_link t('dashboard.navigation.users'),
                              dashboard_users_url,
                              policy_name: :user,
                              icon: 'users'
              = nav_item_link t('dashboard.navigation.skills'),
                              dashboard_skills_url,
                              policy_name: %i[dashboard skill]
              = nav_item_link "#{t('dashboard.navigation.ideas')} #{count_pending_ideas}",
                              dashboard_ideas_url,
                              icon: 'info'
              = nav_item_link t('dashboard.navigation.projects'),
                              dashboard_projects_url,
                              icon: 'shopping-bag'
              -#= nav_item_link t('dashboard.navigation.reports'),
                              -#'#',
                              -#icon: 'file-text'
              -#= nav_item_link t('dashboard.navigation.analytics'),
                              -#'#',
                              -#icon: 'bar-chart-2'
              -#= nav_item_link t('dashboard.navigation.activity'),
                              -#'#',
                              -#icon: 'layers'
            -#%h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
              -#%span= t('dashboard.navigation.my_projects')
              -#%a.d-flex.align-items-center.text-muted{ href: '#' }
                -#%span{ 'data-feather': 'plus-circle' }
            -#%ul.nav.flex-column.mb-2
              -#= nav_item_link t('dashboard.navigation.mentored'),
                              -#'#',
                              -#icon: 'file-text'
        %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4{ role: 'main' }
          = render partial: 'layouts/shared/dashboard_flashes'

          = yield

  = render partial: 'layouts/shared/javascript'
