!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %title Ideas
    = csrf_meta_tags
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                          media: 'all',
                          'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdn.rawgit.com/xcatliu/simplemde-theme-dark/master/dist/simplemde-theme-dark.min.css'
    = stylesheet_link_tag '/css/cover.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render partial: 'layouts/shared/analytics'

  %body.text-center
    = render partial: 'layouts/shared/fork_me'
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      %header.masthead.mb-auto
        .inner
          %h3.masthead-brand= t('landing.brand')
          %nav.nav.nav-masthead.justify-content-center
            = render partial: 'layouts/shared/navigation'

      = render partial: 'layouts/shared/dashboard_flashes'

      = yield

      %footer.mastfoot.mt-auto
        .inner
          %p
            = t('landing.footer.built_by')
            = succeed ', 2018' do
              = link_to 'HowToHireMe', 'https://howtohireme.ru', target: '_blank'
  /
    Bootstrap core JavaScript
    \==================================================
  / Placed at the end of the document so the pages load faster
  / SimpleMDE
  %script{ src: 'https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js' }
  :javascript
    var simplemde = new SimpleMDE();
